@import '../../../config-scss/rem-calc.scss';

:host {
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: rem-calc(20);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: rem-calc(10);

  }
  input{
    width: 95%;
    background: transparent;
    border: none;
    padding: rem-calc(14) rem-calc(20);
    outline: none;
    color: #fff;
    font-size: 16px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6)
    }
  }
}
